.page{
    position: relative;
    width: 100%;
    margin: 0;
    color: white;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    min-width: 320px;
}
@media screen and (min-width: 1280px) {
    .page{
        max-width: 1280px;
        margin: 0 auto;
    }
}


