.page{
    position: relative;
    width: 100%;
    margin: 0;
    position: relative;
    background-color: #2A2C2F;
    color: white;
    font-family: Inter;
    font-style: normal;
    min-width: 320px;
}
@media screen and (min-width: 1280px) {
    .page{
        max-width: 1280px;
        margin: 0 auto;
    }
}


