.link-transition{
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay:0s;
  }  
  .link-transition:hover{
    opacity: 0.8;
  }
  