.page__page-child_type_header{
    margin: 0 auto;
    padding: 28px 48px 0;
}

@media screen and (max-width: 1023px) {
    .page__page-child_type_header{
        padding: 28px 24px 0;
    }
}
@media screen and (max-width: 767px) {
    .page__page-child_type_header{
        padding: 16px 16px 0;
    }
}


