.page__page-child_type_footer{    
    padding:92px 48px 24px;
}
@media screen and (max-width: 1023px) {
    .page__page-child_type_footer{
        padding:88px 24px 24px;
    }
}
@media screen and (max-width: 767px) {
    .page__page-child_type_footer{
        padding:64px 16px 24px;
    }
}