.place__website{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-end;
    grid-area: web;
}
@media screen and (max-width: 767px) {
    .place__website{
        margin-left: 16px;
        margin-right: 16px;
    }
}